                        {% extends "pay.html"  %}
                        {% block content %}
                        <!-- Title Page -->
                            {% if totalsum > 0.00 %}
                            <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" >
                                <h4 align="left" style="display: block; color: black; font-size: 3em; font-family: Montserrat-Regular;"><span> Checkout </span> </h4>
                            </section>
                        <form action="/createOrder?total={{totalsum}}" method="POST" onsubmit="return validate()">
                        <div class="form-group">

                        <div class="row">
                        <div class="col-75">
                            <div class="container">
                            <form>
                                <div class="row">
                                <div class="col-50">
                                    <h3>Shipping Address</h3>
                                    <hr>
                                    <label for="fname"><i class="fa fa-user"></i> Full Name</label> 
                                    <input type="text" id="fname" name="FullName" placeholder="John M. Doe" required>
                                    <hr>
                                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                    <input type="email" id="email" name="email" placeholder="john@example.com" required>
                                    <hr>
                                    
                                    <label for="phone"><i class="fa "></i> Phone</label>
                                    <input type="text" id="phone" name="phone" placeholder="+91 00000-00000" required>
                                    <hr>
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input type="text" id="adr" name="address" placeholder="15th Street" required>
                                    <hr>

                                    <div class="col-50">
                                        <label >Country</label>
                                    <select id="countySel" name="country" size="1" required>
                                    <option value="" selected="selected">-- Select Country --</option>
                                    </select>
                                    </div>
                                    <hr>
                                    <div class="col-50">
                                        <label >State</label>
                                        <select select id="stateSel" name="state" size="1" required>
                                        <option value="" selected="selected">-- Select State--</option>
                                        </select>
                                    </div>
                                    <hr>
                                    <hr>
                                    <div class="col-50">
                                        <label for="citySel"><i class="fa fa-institution"></i> City</label>
                                    <select id="citySel" name="city" size="1" required>
                                        <option value="" selected="selected">-- Select City--</option>
                                    </select>
                                        </div>
                                    <hr>

                                </div>

                                </div>
                                <input type="submit" name="makepayment" value="Order Summary" 
                                class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" 
                                href="/createOrder?total={{totalsum}}">
                                
                            </form>
                            </div>
                        </div>

                        <div class="col-25">`
                            <div class="container">
                            <h4>Cart
                                <span class="price" style="color:black">
                                <i class="fa fa-shopping-cart"></i>
                                <b></b>
                                </span>
                            </h4>
                            {% for row in cartData %}
                                <p>{{row[2]}} <span style="padding-left: 25px;">  x {{row[4]}} </span><span class="price"> &#8377 {{row[6]}}</span></p>
                            {% endfor %}
                            <hr>
                            <p>Total <span class="price" style="color:black"><b> &#8377 {{totalsum}}</b></span></p>
                            </div>
                        </div>
                        </div>
                        </div>
                        </form>

                        {% endif %}
                        {% endblock content %}